

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    /* background-color: #D6DDED; */
}


/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 50px 150px; */
    margin: 0px 150px;
}

.nav-title {
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

/* shared */
.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  transition: background-color 0.3s ease; 

}

.btn-primary:hover{
     background-color: #2980b9;
}

.banner-title {
    font-weight: bold;
    color: #252432;
    font-size: 65px;
}

.banner {
    margin: 209px 267px 152px 267px;
    text-align: center;
}

.header {
    background-image: url('../Assets/Hero-bg.png');
    height: 700px;
    width: 100%;
}
.banner-button{
    margin: 27px 0px 152px 0px;
   
}

/* action styles */

.action-title{
    font-weight: bold;
    font-size: 42px;
}
.action-content{
    color: #252432;
    font-size: 24px;
}

.action-section{
    display: flex;
    justify-content:space-between;
    margin: 116px 159px 116px 141px;
}

.action-image img{
    border-radius: 48px;
}


/* User  */

.user-title{
    font-weight: bold;
    font-size: 38px;
}
.user-title{
    text-align: center;
    padding-top: 50px;
}
.number-of-active-users{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin: 0;
    font-family: sans-serif;
}
.number-of-focus-sessions{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
     margin: 0;
     font-family: sans-serif;
}
.satisfaction-rate{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
     margin: 0;
     font-family: sans-serif;
}

.outer-section-of-user{
    margin: 100px 159px 0px 141px;
    background-color: #e8e8fc;
    border-radius: 24px;
}

.User-count{
    display: flex;
    justify-content: space-around;
}

.user-subtitle{
    font-size: 20px;
    margin: 0px 0px 50px 0px;
}

/* Card part */

.feedback-header{
    font-weight: bold;
    font-size: 42px;
    text-align: center;
}

.feedback-card{
    border-radius: 14px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background-color: #F2EDED;
}
.user-feedbacks{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.card-user{
    display: flex;
   
}


.test-img{
    border-radius: 20px;
    margin-top: 20px;
}

.card-user-name-date{
    margin-left: 20px;
}

.user-feedback-section{
    margin: 137px;
}

/* Focus */

.focus-title{
    font-weight: bold;
    font-size: 50px;
}
.outer-section-focus{
    background-color:#F2EDED;
    align-items: center;
    text-align: center;
    border-radius: 14px;
    /* border: 2px  solid; */
    margin: 130px 150px 0px 130px;
    padding: 70px 150px 70px 150px;
}
.focus-image{
   /* margin: 20px 322px 322px 525px; */
   margin-top: 50px;
   border-radius: 48px;
}


/* form */
.form-title{
    font-weight: bold;
    font-size: 80px;
}
.form-section{
    display: flex;
    margin: 92px 150px 0px 150px;
    gap: 300px;

}

.form-names{
    font-size: 18px;
    font-weight: 600;
    margin: 5px;
}

.form-inputs input[type = "text"], .form-inputs input[type = "email"], .form-inputs input textarea  {
     height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid rgb(222, 209, 160);
}
.text-area{
     height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid rgb(222, 209, 160);
}

/* footer */
.footer-title{
    font-weight: bold;
    font-size: 100px;
    color: #4E47FF;
    margin-bottom: 10px;
}

.footer{
    margin-top: 300px;
    text-align: center;
    background-color: azure;
    padding-bottom: 100px;
}
.footer-buttons a {
    text-decoration: none;
    margin: 20px;
}
.footer-content{
    margin-top: 10px;
}

