

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 50px 150px; */
    margin: 0px 150px;
}

.nav-title {
    font-weight: 900;
    font-size: 34px;
}

/* shared */
.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;

}

.banner-title {
    font-weight: bold;
    color: #252432;
    font-size: 65px;
}

.banner {
    margin: 209px 267px 152px 267px;
    text-align: center;
}

.header {
    background-image: url('../Assets/Hero-bg.png');
    height: 700px;
    width: 100%;
}
.banner-button{
    margin: 27px 0px 152px 0px;
   
}

/* action styles */

.action-title{
    font-weight: bold;
    font-size: 42px;
}
.action-content{
    color: #252432;
    font-size: 24px;
}

.action-section{
    display: flex;
    justify-content:space-between;
    margin: 116px 159px 116px 141px;
}

.action-image img{
    border-radius: 48px;
}


/* User  */

.user-title{
    font-weight: bold;
    font-size: 38px;
}
.user-title{
    text-align: center;
    padding-top: 50px;
}
.number-of-active-users{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin: 0;
    font-family: sans-serif;
}
.number-of-focus-sessions{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
     margin: 0;
     font-family: sans-serif;
}
.satisfaction-rate{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
     margin: 0;
     font-family: sans-serif;
}

.outer-section-of-user{
    margin: 100px 159px 0px 141px;
    background-color: #e8e8fc;
    border-radius: 24px;
}

.User-count{
    display: flex;
    justify-content: space-around;
}

.user-subtitle{
    font-size: 20px;
    margin: 0px 0px 50px 0px;
}

/* Card part */

.feedback-header{
    font-weight: bold;
    font-size: 42px;
    text-align: center;
}

.feedback-card{
    border-radius: 14px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background-color: #F2EDED;
}
.user-feedbacks{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.card-user{
    display: flex;
   
}


.test-img{
    border-radius: 20px;
    margin-top: 20px;
}

.card-user-name-date{
    margin-left: 20px;
}